body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  #garden {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .plant {
    margin: 10px;
    position: relative;
  }
  .plant img {
    transition: all 0.3s ease-in-out;
    max-height: 60vh;
  }
  .dead {
    filter: grayscale(100%) sepia(100%) hue-rotate(-50deg);
  }
  .controls {
    margin: 10px;
  }


  /* --- Paulina Kimak --- */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: #222222;
  margin: 0;
  padding: 0;
}

footer {
  background: #046b09;
  color: #1f1f1f;
  padding: 5%;
  margin: 5% 0 0 0;
}

#navstyle {
  background: #046b09;
  padding: 3%;
  margin: 0 0 3% 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: flex-end;
}

#logo{
  font-size: 2em;
  color: #1f1f1f;
  font-weight: 900;
}

.navbar-nav {
  margin-left: auto;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 3% 0;
}

figcaption {
  font-size: 70%;
  color: #b3b3b3;
  text-align: left;
  margin: 0;
  padding: 0;
}

#general h2 {
  font-size: 1.5em;
  color: #046b09;
  text-transform: uppercase;
  margin: 2% auto;
  text-align: center;
}

#general dd{
  font-size: 0.9em;
  color: #cacaca;
  line-height: 1.5;
  margin-left: 5%;
  text-align: center;
}
#general dt{
  font-size: 1.1em;
  color: #cacaca;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

#modules h2 {
  font-size: 1.5em;
  color: #046b09;
  text-transform: uppercase;
  margin: 2% auto;
}

#modules h4{
  font-size: 1em;
  color: #b3b3b3;

}

#modules li {
  font-size: 0.9em;
  color: #cacaca;
  line-height: 1.5;
}
#office h2{
  font-size: 1.5em;
  color: #046b09;
  text-transform: uppercase;
  margin: 2% auto;
}

#office h4{
  font-size: 1em;
  color: #b3b3b3;

}


#office li {
  font-size: 0.9em;
  color: #cacaca;
  line-height: 1.5;
}


#use {
  padding: 7%;
  margin: 2% auto;
  text-align: center;
}

#use h1 {
  font-size: 2em;
  color: #046b09;
  font-weight: 900;
  text-transform: uppercase;
  margin: 2%;
}

#use h2 {
  font-size: 1.1em;
  color: #ffffff;
  margin: 2%;
}

#use p {
  font-size: 0.9em;
  color: #cacaca;
  margin: 2%;
}

#use .btn {
  font-size: 0.9em;
  background-color: #046b09;
  color: #1f1f1f;
  margin: 2%;
}

.card {
  background: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  height: 100%;
  margin: 4% 2%;
  padding: 2% 3%;
}

.card h3 {
  font-size: 1.1em;
  color: #ffffff;
  text-transform: uppercase;
}

.card p {
  font-size: 0.9em;
  color: #cacaca;
}

.card .btn {
  font-size: 0.8em;
  color: #222222;
}

.col-yellow {
  background: #046b09;
}

.col-grey {
  background: #cacaca;
}

.col-dark {
  background: #1f1f1f;
}

#tables h2 {
  font-size: 1.5em;
  color: #046b09;
  text-transform: uppercase;
  margin: 2% auto;
  text-align: center;
}

#tables .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#tables .col-md-6 {
  flex: 0 0 48%;
}

#eco .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#eco .card {
  flex: 0 0 32%;
}
#eco h3 {
  text-align: center;
  color: #046b09;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

#eco p {
  text-align: center;
  color: #cacaca;
  font-size: 0.7em;
  text-transform: lowercase;
}

#myCarousel {
  max-width: 70%;
  margin: 0 auto;
}

#formstyle {
  padding: 7%;
  margin: 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #cacaca;
  border: 3px solid #046b09;
  line-height: 1.5;
}

.form-control {
  opacity: 0.7;
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #046b09;
  line-height: 1;
  margin: 2% 0;
}
.form-group{
  margin: 2% 0;
}
#formstyle ::placeholder {
  color: #cacaca;
}

#comments {
  opacity: 0.7;
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #046b09;
}

#myform h2,
#legend h2,
#visual h2,
#eco {
  font-size: 1.5em;
  color: #046b09;
  text-transform: uppercase;
  margin: 2% 0;
}

#legend p{
  font-size: 0.9em;
  color: #cacaca;
  line-height: 1.5;
  margin: 2% 0;
}

button.btn-outline-warning,
button.btn-outline-secondary {
  margin: 2% 1% 0 0;
}

#file {
  background: #333333;
}

/* nowe */

#plant-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #e6f4e6;
  border-bottom: 2px solid #ccc;
}

#plant-selection button {
  margin: 0 10px;
  background: none;
  border: none;
  cursor: pointer;
}

#sidebar-controls {
  position: fixed;
  top: 100px;
  left: 0;
  width: 80px;
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-right: 1px solid #ccc;
  z-index: 999;
}

#sidebar-controls button {
  background-color: #ffffff;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

#garden {
  margin-left: 100px; /* space for sidebar */
  padding: 20px;
  text-align: center;
}
