
/* Flowers Section */
#flowers {
  padding: 10px;
  text-align: center;
  background-color: #f3f3f3;
  border-radius: 15px;
}

#flowers button {
  background: none;
  border: none;
  margin: 10px;
  cursor: pointer;
}

#flowers img {
  width: 90%;
  height: 90%;
  border-radius: 15px;
  border: 2px solid #728736;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#flowers img:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

/* Flowers row title */
#flowers-title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
  color: #728736;
  font-family: "Butterfly Kids", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Actions Section */
#actions {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  min-height: 100%; 
}

#actions button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#actions button img {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  border: 2px solid #728736;
}


#actions button:hover img {
  transform: scale(1.1);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}



/* Gamefield (Shelves) */
#gamefield {
  padding: 20px;
  text-align: center;
  min-height: 100%;
  background-color: #f3f3f3;
  border-style: solid;
  border-color: #728736;
  border-radius: 5%;
  border-width: 10px;
  margin: 0% 5% 5% 5%;
}

#gamefield img {
  width: 70%; 
  height: auto; 
}

/* Menu Section */
#menu {
  background-color: #e4f6d4;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu #logo {
  font-size: 3em;
  color: #728736;
  text-align: center;
  font-weight: 500;
  flex: 1;
}

.mystery-quest-regular {
  font-family: "Mystery Quest", system-ui;
  font-weight: 400;
  font-style: normal;
}


/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* Other specific elements */
#plain {
  background-color: #e4f6d4;
  text-align: center;
}

footer {
  background-color: #cde7ac;
  padding: 3%;
  color: #365314;
  text-align: center;
  width: 100%;
  font-size: 0.9rem;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  font-weight: 500;
}


.butterfly-kids-regular {
  font-family: "Butterfly Kids", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  color: #4b4b4b;
}

.butterfly-kids {
  font-family: 'Butterfly Kids', cursive;
  font-size: 1.8rem;
  color: #4b4b4b;
}

.action-label {
  line-height: 1;
}

#shelves-background {
  position: relative;
}

#garden {
  pointer-events: none; 
}
.plant-container {
  pointer-events: auto; 
  text-align: center;
}

.plant img {
  max-height: 120px;
  transition: transform 0.3s ease;
}

.plant img.dead {
  filter: brightness(0.6) sepia(100%) hue-rotate(20deg);
  border: 2px solid brown;
}


.londrina-sketch-regular {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  color: white;
  background-color: #2b2b2b; 
  padding: 4px 8px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 5px;
}

.cabin-sketch-regular {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cabin-sketch-bold {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.shelf-row-0 {
  margin-top: 0px;
}

.shelf-row-1 {
  margin-top: -120px; 
}

.shelf-row-2 {
  margin-top: -80px;
}

#shelves-background > a {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #5a5a5a;         
  font-size: 8px;     
  text-decoration: none;
}

#shelves-background > a:hover {
  text-decoration: underline;
}
